#bracketContainer{
	position: relative;
	height: 300px;
	width: 960px;
}
.bracket{
  bottom: 0;
  background: #ccc;
  position: absolute;
  z-index: 0;
  margin-left: 60px;
}

.rate.label{
  margin: 0 auto;
  width: 31px;
  z-index: 2;
  cursor: pointer;
}

.bracket.label{
  position: absolute;
  bottom: -20px;
  right: -20px;
  background-color: #fff;
  cursor: pointer;
}

svg {
  font: 10px sans-serif;
}

rect {
  fill: #1696d2;
  stroke: #1696d2;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

h2{
  position: absolute;
  left: 130px;
  padding-top: 60px;
}

#chart{
	padding-top: 100px;
}